**/.dockerignore
**/node_modules
**/README.md
**/.next
**/.git
node_modules

.turbo
/.next/

.env.local
.env.development.local
.env.test.local
.env.production.local

.vercel

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
**/*.bun

**/prisma-client